/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kantumruy+Pro:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Navbar */

.navbar {
    z-index: 1;
    top: 0;
    position: fixed;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFF;
}

.navbar > .logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    margin-left: 4%;
    color: #00171F;
    text-decoration: none;
}

.navbar > div {
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}

.navbar > div > .menu {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color:#00171F;
    padding-right: 35px;
}

.navbar > div > .menu:hover {
    color: #E5625E;
}

.navbar > div > .menu:visited {
    color: #00171F;
    text-decoration: none;
}

.navbar > div > .menu:visited:hover {
    color: #E5625E;
}

.navbar > div > .login-btn {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color:#00171F;
}

.navbar > div > .login-btn:hover {
    color: #E5625E;
}

.navbar > div > .login-btn:visited {
    color: #00171F;
    text-decoration: none;
}

.navbar > div > .login-btn:visited:hover {
    color: #E5625E;
}



/* Main Section */

body {
    background-color: #FAFAFF;
}

.title {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color:#00171F;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 140px;
    letter-spacing: 5px;
}

.instructions {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #1282A2;
    margin-bottom: 75px;
}

.step-one {
    margin-bottom: 15px;
}

.country-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 150px;
}

.card {
    margin-bottom: 100px;
    border-radius: 10px;
}

.card:hover {
    opacity: 0.7;
}



/* Individual Countries */

.one {
    width: 300px;
    height: 300px;
}

.two {
    width: 360px;
    height: 260px;
}

.three {
    width: 320px;
    height: 300px;
}

.four {
    width: 330px;
    height: 250px;
}

.five {
    width: 265px;
    height: 290px;
}

.six {
    width: 200px;
    height: 360px;
}


/* Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 350ms ease-in-out;
    border: 2px solid #00171F;
    border-radius: 15px;
    z-index: 10;
    background-color: #FAFAFF;
    width: 650px;
    max-width: 80%;
    padding: 20px 20px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00171F;
}

.modal-title {
    font-size: 32px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: bold;
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 35px;
    font-weight: bold;
}

.modal-body {
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.adventure-name {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 30px;
}

.adventure-cost {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
}

.cost-heading {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 16px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.adventure-description {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 16px;
}

.description-heading {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 16px;
    text-decoration: underline;
    padding-bottom: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}


/* Footer */

footer {
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: bold;
    padding-bottom: 25px;
}


